# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# Virtual environments
venv/
.venv/

# PyInstaller
build/
dist/
*.spec

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Packaging artifacts
packaging/windows-version.txt
*.wixobj
*.wixpdb
