[Desktop Entry]
Version=1.0
Type=Application
Name=PACKAGE_NAME
Comment=TODO: one-line description
Exec=/usr/bin/PACKAGE_NAME %F
Icon=/usr/share/icons/hicolor/256x256/apps/PACKAGE_NAME.png
Terminal=false
Categories=Utility;
MimeType=
StartupNotify=true
StartupWMClass=PACKAGE_NAME
